body {
  margin: 0 auto;
  background-color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  min-height: 500px;
  background-color: lightblue;
  margin: 30px auto;
  border-radius: 10px;
  padding: 30px;
}

.qNumber,
.question,
.options,
.buttons,
.answer-track {


}

.qNumber h3 {
  color: red;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding-bottom: 10px;
}

.question {
  font-size: 25px;
  color: red;
  padding: 15px;
  margin-bottom: 10px;
}
  
.options div {
  background-color: rgb(224, 243, 227);
  font-size: 15px;
  color: red;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 15px ;
  cursor: pointer;

}

.options div.disabled {
  pointer-events: none;
}

.button .btnNxt {
  padding: 20px 40px;
  background-color: aliceblue;
  font-size: 20px;
  color: red;
  border: none;
  cursor: pointer;
  margin: 15px;
}

.answer-track {
  border-top: 2px solid #ccc;
  padding-top: 15px;
}

.answer-track div {
  height: 40px;
  width: 40px;
  background-color: blue;
  border-radius: 50%; 
  margin: 5px;
  display: inline-block;
}

.answer-track div.correct {
  background-color: green;
}

.answer-track div.wrong {
  background-color: red;
}

 .quiz-over .show {
   display: flex;
 }

.quiz-over .box {
  padding: 30px;
  border-radius: 10px;
}

.quiz-over {
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
z-index: 10;
 background-color: rgba(0,0,0,0.9);
 display: none;
 align-items: center;
 justify-content: center;
}